<section id="about">
    <div class="container about">
        <article class="about-info">
            <span>Sobre mim</span>
            <h2>Ideias em experiências inesquecíveis</h2>
            <p>Sou um entusiasta do desenvolvimento apaixonado por novas tecnologias e determinado a deixar minha marca
                no mundo digital. Quando não estou codificando, você pode me encontrar mergulhando em jogos online ou
              explorando mundos fascinantes nas páginas de um bom livro   <!--  <abbr title="montagem manutenção de computadores">mmc</abbr>--></p> 
        </article>
        <article class="about-connect">
            <h2>Conecte-se comigo</h2>
            <p>Estou presente nas redes sociais para mantermos uma conexão mais próxima. Sinta-se à vontade para seguir
                e interagir!</p>
            <div>
                <a href="https://www.linkedin.com/in/haroldomayworm/" target="_blank"><img
                        src="assets/img/about/icon-linkedin.svg" alt="icone do Linkedin"></a>
                <a href="https://github.com/Haroldo-Mayworm" target="_blank"><img src="assets/img/about/icon-github.svg"
                        alt="Icone do Github"></a>
            </div>
        </article>
    </div>
</section>