<section id="projects">
    <div class="container projects">
        <article class="projects-info">
            <span>Ideias transformadas</span>
            <h2>Projetos Recentes</h2>
            <p>Aqui mergulhamos no universo da tecnologia para apresentar soluções inovadoras e resultados excepcionais
                onde cada projeto tem uma jornada única!</p>
        </article>
        <article class="projects-list">
            <ul>
                <li class="projects-item">
                    <div class="projects-languages-item projects-bikcraft">
                        <img src="assets/img/projects/languages/html5.svg" alt="Icone da linguagem HTML5">
                        <img src="assets/img/projects/languages/css3.svg" alt="Icone da linguagem CSS3">
                        <img src="assets/img/projects/languages/js6.svg" alt="Icone da linguagem JS">
                    </div>
                    <div class="projects-description-item">
                        <h3>Bikcraft</h3>
                        <p>Site de vendas de bicicletas personalizadas</p>
                    </div>
                </li>
                <li class="projects-item">
                    <div class="projects-languages-item projects-aluraBooks">
                        <img src="assets/img/projects/languages/mobile.png" alt="Icone first-mobile">
                        <img src="assets/img/projects/languages/html5.svg" alt="Icone da linguagem HTML5">
                        <img src="assets/img/projects/languages/css3.svg" alt="Icone da linguagem CSS3">
                    </div>
                    <div class="projects-description-item">
                        <h3>AluraBooks</h3>
                        <p>Homepage com o método de mobile_first</p>
                    </div>
                </li>
                <li class="projects-item">
                    <div class="projects-languages-item projects-madameCesteira">
                        <img src="assets/img/projects/languages/html5.svg" alt="Icone da linguagem HTML5">
                        <img src="assets/img/projects/languages/css3.svg" alt="Icone da linguagem CSS3">
                        <img src="assets/img/projects/languages/js6.svg" alt="Icone da linguagem JS">
                    </div>
                    <div class="projects-description-item">
                        <h3>Madame Cesteira</h3>
                        <p>Landing page de vendas de cestas natalinas</p>
                    </div>
                </li>
                <li class="projects-item">
                    <div class="projects-languages-item projects-brafe">
                        <img src="assets/img/projects/languages/css3.svg" alt="Icone da linguagem CSS3">
                        <img src="assets/img/projects/languages/html5.svg" alt="Icone da linguagem HTML5">
                    </div>
                    <div class="projects-description-item">
                        <h3>Brafé</h3>
                        <p>Site de vendas de café, projeto focado posicionamento</p>
                    </div>
                </li>
                <li class="projects-item">
                    <div class="projects-languages-item projects-wildbeast">
                        <img src="assets/img/projects/languages/css3.svg" alt="Icone da linguagem CSS3">
                        <img src="assets/img/projects/languages/html5.svg" alt="Icone da linguagem HTML5">
                    </div>
                    <div class="projects-description-item">
                        <h3>Wildbeast</h3>
                        <p>Site sobre animais, com foco em posicionamento Grid</p>
                    </div>
                </li>
                <li class="projects-item">
                    <div class="projects-languages-item projects-construcao">
                        <img src="assets/img/projects/languages/react.png" alt="Icone da linguagem React">
                        <img src="assets/img/projects/languages/js6.svg" alt="Icone da linguagem JS">
                        <img src="assets/img/projects/languages/html5.svg" alt="Icone da linguagem HTML5">
                        <img src="assets/img/projects/languages/css3.svg" alt="Icone da linguagem CSS3">
                    </div>
                    <div class="projects-description-item">
                        <h3>Em construção...</h3>
                        <p>Enquanto aguarda, que tal pegar um café.</p>
                    </div>
                </li>
            </ul>
        </article>
    </div>
</section>