<form action='\update' method='post'>
    <h1>Edit register</h1>
    <p>Code</p>
    <input type='text' name='id' />
    <p>Title</p>
    <input type='text' name='title' />
    <p>Content</p>
    <textarea name='content' cols='30' rows='10'></textarea>
    <button type='submit'>Edit Post</button>
</form>