<form action='\salvar' method='post'>
    <h1>Save register</h1>
    <p>Title</p>
    <input type='text' name='title' />
    <p>Content</p>
    <textarea name='content' cols='30' rows='10'></textarea>
    <button type='submit'>New Post</button>
</form>