@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
