* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1 {
  color: rgb(0, 160, 0);
}

#destaque {
  color: red;
}

.fonte {
  font-family: 'Courier New', Courier, monospace;
  font-size: 34px;
  font-weight: bold;
  background-color: #ccc;
}