<header id="header">
    <section class="container header">
        <div class="header-container">
            <div class="logo"><img src="assets/img/home/Logo.png" alt="Logo com o nome e as inicias"></div>
            <div>
                <nav class="menu">
                    <ul>
                        <li><a href="#header">Home</a></li>
                        <li><a href="#about">Sobre</a></li>
                        <li><a href="#services">Serviços</a></li>
                        <li><a href="#projects">projetos</a></li>
                    </ul>
                    <div class="menu-hbr">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </nav>
            </div>
        </div>
    </section>
</header>