<section id="contact">
    <article class="container contact">
        <span>entre em contato</span>
        <h2>Tem algum projeto em mente?</h2>
        <p>Seja qual for o desafio, estou pronto para oferecer soluções, seja criando uma LP ou impulsionando sua ideia.
        </p>
        <div class="btn-whatsapp contact-wpp">
            <a href="https://wa.me/5524988183954?text=Ol%C3%A1%20Haroldo,%0AExplorando%20seu%20site,%20me%20chamou%20a%20aten%C3%A7%C3%A3o%20o%20que%20voc%C3%AA%20oferece.%0APoderia%20retornar%20meu%20contato?%0AAgrade%C3%A7o%20desde%20j%C3%A1!"
                target="_blank"><img src="assets/img/home/icon-whatsapp.svg" alt="icone do whatsapp">Fale comigo!</a>
        </div>
    </article>
</section>