<header>
    <div class="container">
        <h1>Meu Site</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
            <div class="container">
                <form class="d-flex" role="search">
                  <input class="form-control me-4" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-danger" type="submit">Search</button>
                </form>
              </div>
        </nav>
    </div>
</header>