<section id="services">
    <div class="container services">
        <article class="services-info">
            <span>O que eu ofereço?</span>
            <h2>Meus Serviço</h2>
            <p>Reunindo tecnologia e experiências, proporciono serviços inovadores que visam transformar desafios em
                soluções.</p>
        </article>
        <article class="services-icons">
            <div>
                <div class="services-icon"><img src="assets/img/services/icon-construção.png"
                        alt="Icone de um site em construção"></div>
                <h3>Criação de Sites</h3>
            </div>
            <div>
                <div class="services-icon"><img src="assets/img/services/icon-marketing.png" alt="Icone de um megafone">
                </div>
                <h3>Marketing Digital</h3>
            </div>
            <div>
                <div class="services-icon"><img src="assets/img/services/icon-consultoria.png"
                        alt="Icone de uma lupa em um site"></div>
                <h3>Consultoria Web</h3>
            </div>
        </article>
    </div>
</section>