<nav>
    <ul>
        <li><a href='http://localhost:3005/home'>home</a></li>
        <li><a href='http://localhost:3005/form'>form</a></li>
        <li><a href='http://localhost:3005/list'>list</a></li>
        <li><a href='http://localhost:3005/edit'>edit</a></li>
    </ul>
</nav>
